.site-header {

  background-color: $header-bg;
  padding: $header-padding;

  color: $header-color;

  .site-branding {
    float: left;

    .site-logo {
      float: left;
      margin-right: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }

    .site-info {
      float: left;
      .site-title {
        padding: 4px 0px;
        font-size: 30px;
        a { color: $header-color; }
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  #main-navbar {
    float: right;
  }

}
